node_modules
dist
*.tsbuildinfo
.env
*.log
.DS_Store
.replit
.replit-artifact
creds.json

# Local artifacts/bot folders
artifacts/whatsapp-bot/session
artifacts/whatsapp-bot/downloads
artifacts/whatsapp-bot/yt-dlp.exe
